/*ポリシー設定*/
#p-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p-content {
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    writing-mode: vertical-rl; /* 縦書きにする */
    /* text-orientation: upright; 縦書きのとき、英字を正しい向きにする */
    display: flex; /* flexboxを使用する */
    justify-content: center; /* 横方向の中央揃え */
    align-items: flex-end; /* 縦方向の下揃え */
}

.vertical-btn {
    padding: 10px;
    border-radius: 5px;
    background-color: #ccc;
    color: #fff;
    cursor: pointer;

}

.vertical-text {
    text-align: right;
    writing-mode: vertical-rl; /* 縦書きにする */
    text-orientation: upright; /* 縦書きの文字を正しい向きにする */
}
#close-btn { margin-top: 10px; }

/* ボタン装飾 */
.btn-list {
    list-style-type: none; /* マーカーを非表示にする */
    margin: 0;
    padding: 0;
}

.btn-list li {
    display: inline-block; /* ブロック要素からインライン要素に変更する */
    padding: 10px;
    border-radius: 5px;
    background-color: #333;
    color: #ccc;
    cursor: pointer;
    margin-right: 10px; /* ボタン間の余白を設定する */
}

/* 体力ゲージ */
.ui-progressbar-value { background-color: green; /* プログレスバーの色 */}
.blink { animation: blinker 1s linear infinite; }

@keyframes blinker {
    50% {
    opacity: 0;
    }
}
